@model Music.ViewModels.AlbumViewModel
<div class="container py-5">
    <h1 class="text-center mb-5">Популярные Альбомы</h1>

    <form asp-controller="Album" asp-action="Index">
        <p>
            <label>
                Сортировка дате релиза:
                <select name="sortedType">
                    <option value="0">--</option>
                    <option value="1">По возрастанию</option>
                    <option value="2">По убыванию</option>
                </select>
            </label>

            <label>Поиск по названию: <input type="text" name="albumName" /></label>
            <input name="artistid" type="hidden" value="@Model.ArtistId" />
            <input type="submit" value="Поиск">
        </p>
    </form>
        
        <div class="row">

            @foreach (var album in Model.Albums)
            {
                <div class="col-md-4 col-lg-3">
                    <div class="card album-card">
                        <img src="@album.UrlImg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@album.Name</h5>
                            <h5 class="card-title">@album.YearOfIssue</h5>
                            <a asp-controller="Song" asp-action="Index" asp-route-id="@album.Id">Перейти</a>
                        </div>
                    </div>
                </div>
            }
        </div>
</div>
<a asp-controller="Album"
   asp-action="Index"
   asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
   asp-route-artistid="@Model.ArtistId"
   asp-route-albumname="@Model.AlbumName"
   asp-route-sortedType="@(Model.SortedType == Music.Helpers.SortedType.None)">
    Назад
</a>

<a asp-controller="Album"
   asp-action="Index"
   asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
   asp-route-artistid="@Model.ArtistId"
   asp-route-albumname="@Model.AlbumName"
   asp-route-sortedType="@(Model.SortedType == Music.Helpers.SortedType.None)">
    Вперёд
</a>